* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*body {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
}*/

.navbar {
	opacity: .8
}

.container-fluid
{
	background-image: url(../images/bg.jpg);
	padding: 20px;
	min-height: 793px;
}

#myimage {
	height: 500px;
	width: 400px;
	margin-top: 50px;
	margin-bottom: auto;
	border-style: solid;
	border: 2px solid black;
	opacity: .8;
}

.image {
	text-align: center;
}

.myname {
	padding-top: 50px;
	float: left;
}

#myname {
	color: black;
}

#mytitle {
	color: white;
}

.testtest {
	float: left;
}


.container-fluid2 {
  opacity: .8;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
  text-align: center;
}